{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<style>

</style>

<div class="example-wrapper">
    <header>
        <div class="navbar navbar-expand-sm border-3 border-bottom border-white" style="background-color: #F2C4A2;">
            <div class="container-fluid">
                <a href="#" class="navbar-brand ps-2"><img src="" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collaseNavbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collaseNavbarContent">
                    <ul class="navbar-nav me-auto w-100 ">
                        <li class="nav-item text-sm-center text-start border-3 border-white border-start border-end " >
                            <a href="#" class="nav-link">
                                <i class="bi bi-house"></i>
                                <span class="ocultar-palabrabarra">Home </span>

                            </a>
                        </li>
                        <li class="nav-item text-sm-center text-start border-3 border-white  border-end">
                            <a href="#" class="nav-link">
                                <i class="bi bi-chat-left-dots"></i>
                                <span class="ocultar-palabrabarra">Felinos</span>
                            </a>
                        </li>
                        <li class="nav-item text-sm-center text-start border-3 border-white border-end">
                            <a href="#" class="nav-link">
                                <i class="bi bi-map"></i>
                                <span class="ocultar-palabrabarra">Mapa</span>
                            </a>
                        </li>

                        <li class="nav-item text-sm-center text-start border-3 border-white  border-end">
                            <a href="#" class="nav-link">
                                <i class="bi bi-ticket-perforated"></i>
                                <span class="ocultar-palabrabarra">Entradas</span>
                            </a>
                        </li>
                        <li class="nav-item text-sm-center text-start border-3 border-white  border-end">
                            <a href="#" class="nav-link">
                                <i class="bi bi-person"></i>
                                <span class="ocultar-palabrabarra">Perfil</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </header>


</div>
{% endblock %}
