{% extends 'base.html.twig' %}

{% block title %}Home Felina{% endblock %}

{% block body %}


<style>

</style>
<div class="example-wrapper">

    <body>
        <h2>Hola</h2>
    </body>



</div>
{% endblock %}

