{% extends 'base.html.twig' %}

{% block title %}Home Felina{% endblock %}

{% block body %}

<div class="info">
    <h3>Informacion General sobre los Felinos</h3>
    <p>Los félidos (Felidae), coloquialmente llamados <span>felinos</span>, son una familia de mamíferos
        placentarios del orden Carnivora. Poseen un cuerpo esbelto, oído agudo, hocico corto y excelente vista.
        Son los mamíferos cazadores más sigilosos. La mayoría consume exclusivamente carne e ignora cualquier
        otra comida que no sea una presa viva. La capturan con sus afiladas garras y suelen matarla de un único
        y tenaz mordisco en la columna vertebral que conecta el cuello de la presa. Son digitígrados.2​

        Los félidos tienen algunas de las fibras musculares más potentes jamás estimadas en relación a su
        tamaño, siendo 3 veces más potentes que las fibras musculares de atletas humanos y un 20 % más potentes
        que las de los ungulados salvajes.3​4​

        Se les han encontrado genes seleccionados de forma positiva, relacionados a un mayor desarrollo y
        mineralización óseos, fibras musculares de propiedades contráctiles superiores, síntesis de hormonas
        esteroides, y crecimiento de axones y su trayectoria.5​

        A excepción de los guepardos, todos los félidos pueden retraer las uñas de sus garras dentro de una
        vaina protectora mientras no las usan.

        Hay alrededor de cuarenta especies en esta familia; muchas de las cuales escasean en la actualidad,
        porque han sido objeto de caza por su piel, para aprovechar partes de su cuerpo, o porque su hábitat
        está siendo destruido, como pasa con el lince ibérico (Lynx pardinus), el félido en mayor peligro de
        extinción.

        Excepto en Antártida, Oceanía y algunas islas, se los encuentra en todo el mundo.</p>
    <ul>
        <li>Subfamilia Felinae
            <ul>
                <li>Género Acinonyx
                    <ul>
                        <li>Acinonyx jubatus - Guepardo</li>
                    </ul>

                </li>
            </ul>
            <ul>
                <li>Género Caracal
                    <ul>
                        <li>Caracal caracal - Caracal (mal llamado lince africano, ya que no está relacionado
                            con el género Lynx)</li>
                        <li>Caracal aurata - Gato dorado africano</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Género Catopuma
                    <ul>
                        <li>Catopuma badia - Gato rojo de Borneo</li>
                        <li>Catopuma temminckii - Gato dorado asiático</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Género Felis
                    <ul>
                        <li> Felis bieti - Gato chino del desierto o gato montés chino; la UICN lo considera una
                            subespecie de Felis silvestris (Felis silvestris bieti)13​</li>
                        <li>Felis catus - Gato doméstico; la UICN lo considera una subespecie de Felis
                            silvestris (Felis silvestris catus)14​</li>
                        <li>Felis chaus - Gato selvático, gato de la jungla o gato del pantano</li>
                        <li>Felis margarita - Gato del desierto</li>
                        <li>Felis nigripes - Gato de pies negros</li>
                        <li>Felis silvestris - Gato montés euroasiático</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Género Leopardus
                    <ul>
                        <li>Leopardus colocolo - Gato colocolo</li>
                        <li>Leopardus geoffroyi - Gato montés sudamericano o gato de Geoffroy</li>
                        <li>Leopardus guigna - Kodkod o huiña</li>
                        <li>Leopardus jacobita - Gato de montaña o gato andino</li>
                        <li>Leopardus pardalis - Ocelote</li>
                        <li>Leopardus tigrinus - Leopardo tigre</li>
                        <li>Leopardus wiedii - Tigrillo, margay o gato tigre</li>
                    </ul>
                </li>

            </ul>
            <ul>
                <li>Género Leptailurus
                    <ul>
                        <li>Leptailurus serval - Serval</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    Género Lynx
                    <ul>
                        <li>Lynx canadensis - Lince de Canadá</li>
                        <li>Lynx lynx - Lince boreal</li>
                        <li>Lynx pardinus - Lince ibérico</li>
                        <li>Lynx rufus - Lince rojo o gato montés de Norteamérica</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Género Otocolobus
                    <ul>
                        <li>Otocolobus manul - Gato manul</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Género Pardofelis
                    <ul>
                        <li>Pardofelis marmorata - Gato jaspeado</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    Género Prionailurus
                    <ul>
                        <li>Prionailurus bengalensis - Gato de Bengala o gato leopardo</li>
                        <li>Prionailurus iriomotensis - Gato de Iriomote</li>
                        <li>Prionailurus planiceps - Gato de cabeza plana</li>
                        <li>Prionailurus rubiginosus - Gato rojo manchado</li>
                        <li>Prionailurus viverrinus - Gato pescador</li>
                    </ul>
                </li>

            </ul>
            <ul>
                <li>Género Puma
                    <ul>
                        <li>Puma concolor - Puma</li>
                        <li>Puma yagouaroundi - Jaguarundi o gato nutria</li>
                    </ul>
                </li>
            </ul>
    </ul>
    </li>

    <ul>
        <li>Subfamilia Pantherinae
            <ul>
                <li>Género Neofelis
                    <ul>
                        <li>Neofelis nebulosa - Pantera nebulosa o leopardo nublado</li>
                        <li>Neofelis diardi - Pantera nebulosa de Borneo o leopardo nublado de Borneo</li>
                    </ul>
                </li>
                <li>Género Panthera
                    <ul>
                        <li>Panthera leo - León</li>
                        <li> Panthera onca - Jaguar</li>
                        <li>Panthera pardus - Leopardo</li>
                        <li>Panthera tigris - Tigre</li>
                        <li>Panthera uncia - Leopardo de las nieves o irbis</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


</div>
<div class="imagenesderecha">
    <p><img src="img/serval.jpg" alt="serval"><br> Serval</p>
    <p><img src="img/felismargarita.jpg" alt="gatodeldesierto"> <br>Felis Margarita - Gato del desierto</p>
    <p><img src="img/ocelote.jpg" alt="ocelote"> <br>Ocelote</p>

</div>


{% endblock %}
